node_modules
dist
out
release
build
coverage
test-results
playwright-report
*.tsbuildinfo
*.hidlog
docs/reference
.superpowers
package-lock.json
**/fonts
**/icons
*.woff
*.woff2
*.png
*.ico
maintenance/reports
